<template name="projects">
    <h3>All Projects</h3>

    <a class="btn btn-primary" href="project/new">Create New Project</a>
    <br/>
    <br/>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {{#each projects}}
        <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>
                <button class="btn btn-primary btn-edit-project">Edit</button>
                <button class="btn btn-danger btn-delete-project">Delete</button>
            </td>
        </tr>
        {{/each}}
    </table>
</template>